<!doctype html>
<head>
<title>{{ title.decode('utf-8') }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/whiteboard.css') }}">
</head>

<body>
<form id=board action="/cut" method="post">
    <span>word:</span>
    <input type=text name=word style='width:32em' value={{ word.decode('utf-8') }}>
    {% if mode and mode_names %}<input type=hidden name=mode value={{ mode.decode('utf-8') }}>{% endif %}
    <input type=submit value=Submit>
</form>
<hr />
<div id=content>
{% block content %}
{{ content.decode('utf-8')|safe }}{% if mod and mode_names %}【{{ mode_names[mode].decode('utf-8') }}】{% endif %}
{% endblock %}
</div>
</body>